* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
::selection {
  color: silver;
  background-color: rgb(85, 2, 85);
}
.no-list-style {
  list-style: none;
}
#nav {
  font-family: serif;
  overflow: hidden;
  position: fixed;
  top: 0;
  height: 8.2ch;
  width: 100%;
  background-color: rgba(0, 0, 0, 70%);
  margin: 0 auto;
}
#nav ul {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  grid-column-start: auto;
  height: 20px;
  width: 100%;
}
#nav a {
  font-family: "Times New Roman", Times, serif;
  background-color: rgba(0, 0, 0, 55%);
  display: block;
  border: 3px solid rgb(0, 0, 0);
  font-size: 2ch;
  font-weight: bold;
  font-style: italic;
  text-decoration: none;
  text-align: center;
  padding: 20px;
}
html {
  scroll-behavior: smooth;
}
.title {
  margin-top: 45px;
}
