* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  color: darkgrey;
}
.no-list-style {
  list-style: none;
}
body {
  background-image: linear-gradient(#0f0101, rgb(92, 4, 4), black);
  background-repeat: no-repeat;
  background-attachment: fixed;
}
#nav a:hover {
  background: rgba(85, 0, 0, 80%);
}
h1 {
  font-size: 5vw;
  margin-top: 3.5%;
  font-style: italic;
  font-variant: small-caps;
  text-align: center;
}
#logo {
  width: 20%;
}
#image-frame {
  display: flex;
  flex-direction: row;
  width: 90%;
  flex: center;
  margin: 0 auto 15px;
}
iFrame {
  width: 40%;
}
.main-container {
  display: grid;
  grid-template-columns: 20% auto;
  margin-bottom: 0 auto;
}
.date {
  text-align: center;
}
#blog-posts {
  grid-column: 2;
}
#blog-posts * {
  border: 5px solid black;
  gap: 10px;
}
#blog-posts img {
  position: sticky;
  margin-top: 10px;
  width: 100%;
}
#blog-posts li {
  display: grid;
  grid-template-columns: 30% 70%;
  width: 80%;
  height: 300px;
  background-color: #240a0a;
  border: 5px solid rgb(7, 7, 7);
  border-style: solid;
  border-radius: 40px 0px 40px 0px;
  box-shadow: -8px 8px 5px rgba(0, 0, 0, 0.8);
  text-indent: 3%;
  line-height: 1.5;
  font-size: x-large;
  overflow: hidden;
  margin-bottom: 3%;
}
#blog-posts li:hover {
  overflow: scroll;
  overflow-x: hidden;
  scrollbar-width: 1px;
}
