.blogEntry {
  margin-left: 12%;
  margin-right: 12%;
  background-color: #240a0a;
  border: 5px solid rgb(34, 34, 34);
  border-style: double;
  border-radius: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 25px;
  padding-right: 20px;
  text-indent: 3%;
  line-height: 1.5;
  font-size: large;
}
body {
  background-image: linear-gradient(#0f0101, rgb(92, 4, 4), black);
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: lightgrey;
}
h1 {
  text-align: center;
  text-shadow: 0px 0px 2px whitesmoke;
}
h2 {
  text-align: center;
  margin: auto;
  padding-bottom: 25px;
  text-shadow: 0px 0px 2px whitesmoke;
}
.date {
  text-align: center;
  padding-top: 10px;
  text-shadow: 0px 0px 2px whitesmoke;
}
#logo {
  width: 20%;
}
#imageFrame {
  display: flex;
  flex-direction: row;
  width: 95%;
  margin: 0 auto;
}
iFrame {
  width: 40%;
}
ol {
  display: grid;
  place-items: center;
  margin-right: 60px;
}
